@import "./colors";
@import "./Props";

$mbr: 3px; // messenger border-radius

body {
  width: 100%;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  background: #d5dbdb;
}

.font {
  font-family: 'Open Sans', sans-serif;
}

.auth {
  border-radius: 3px;
  left: 50%;
  top: 50%;
  padding: 10px;
  width: 700px;
  text-align: center;
  background: #fff;
  transform: translate(-50%, -50%);

  .logo {
    margin: 0 auto;
    width: 150px;
  }
  .title {
  }

  .slogan {
    margin-bottom: 20px;
  }

  .form {
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 10px;

    button, input {
      border: 0;
    }

    input {
      border-bottom: 1px solid #ddd;
      padding: 5px;
      margin-bottom: 20px;
      outline: none;
    }

    button {
      border-radius: 40px;
      margin: 0 auto;
      width: 200px;
      height: 50px;
      color: #fff;
      background: $themeColor;
      transition: background-color 0.3s ease;

      &:hover {
        background: rgba(0, 151, 136, 0.58);
        transition: background-color 0.3s ease;
      }
    }
  }
}

.splash {
  width: 400px;
  height: 400px;
}

.green-belt {
  height: 15vh;
  background: #009788;
}

.messenger {
  border-radius: $mbr;
  top: 20px;
  right: 40px;
  bottom: 20px;
  left: 40px;
  background: #fff;

  .inbox {
    border-right: 1px solid #ddd;
    width: 450px;
    background: #fff;

    /** Userbox | Header */
    .userbox {
      border-radius: $mbr 0 0 0;
      background: #eee;

      .you {
        flex: 1;
        padding-left: 12px;

        .user {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .actions {
        flex: 1;
        justify-content: flex-end;
        padding-right: 5px;

        button {
          margin-left: 1px;
          width: 50px;
          height: 50px;

          border: 1px;
          color: #888;
          background: #cccccc00;
        }
      }
    }

    /** Search */
    .search {
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 7px 15px;

      .sbox {
        border-radius: 5px;
        border: 1px solid #eaeaea;
        flex: 1;
        background: #fff;
        overflow: hidden;

        button {
          border: 0;
          padding: 5px;
          width: 40px;
          font-size: 22px;
          color: #888;
          background: #fff;

          &:hover {
            color: #222;
          }
        }

        input {
          flex: 1;
          border: 0;
        }
      }
    }

    /** Conversation */
    .conv-list {
      flex: 1;
      height: calc(100vh - 140px);
      overflow-x: hidden;
      overflow-y: auto;
    }

    .conversation {
      padding: 5px 10px;

      .you {
        width: 50px;

        .user {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }
      }

      .meta {
        flex: 1;
        border-bottom: 1px solid #f1f1f1;
        padding: 0 0 10px 0;

        .info {
          flex: 1;
        }

        .name {

        }

        .last-msg {

        }
      }

      .extra {
        .stamp {

        }

        .badge {
          border-radius: 40px;
          margin-top: 5px;
          padding: 0 4px;
          max-width: 32px;
          font-size: 12px;
          text-align: center;
          background: #2fc32f;
        }
      }
    }
  }

  .chatbox {
    flex: 1;

    /** Chatbox | Header */
    .chathead {
      border-radius: 0 $mbr 0 0;
      background: #f3f3f3;

      .you {
        flex: 1;
        padding-left: 12px;

        .user {
          width: 40px;
          height: 40px;

          img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
          }
        }

        .meta {
          margin-left: 10px;
        }
      }

      .actions {
        flex: 1;
        justify-content: flex-end;
        padding-right: 5px;

        button {
          margin-left: 1px;
          width: 50px;
          height: 50px;

          border: 1px;
          color: #888;
          background: #cccccc00;
        }
      }
    }

    /** Chat */
    .chat {
      flex: 1;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 20px 30px;
      background: #e4dbd4;
      overflow-x: hidden;
      overflow-y: auto;

      .bubble {
        margin: 3px 0;

        .ballon {
          display: table;
          border-radius: 8px;
          padding: 4px 6px;
          max-width: 400px;
          background: #fff;

          &:before {
            content: '';
            position: absolute;
            left: -10px;
            bottom: 4px;
            z-index: 1;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            background: #fff;
          }

          &:after {
            content: '';
            position: absolute;
            left: -15px;
            bottom: 9px;
            z-index: 1;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            background: #e4dbd4;
          }

          .stamp {
            right: 7px;
            bottom: 7px;

            &.cfff {
              bottom: 12px;
              right: 12px;
              text-shadow: 1px 1px 1px #000;
            }
          }

          .text {
            margin-bottom: 20px;
            padding: 4px 0;
          }

          .media {
            border-radius: 5px;
            margin: 3px 0;
            padding: 2px 0;
            width: 400px;
            height: 220px;

            .poster {
              border-radius: 5px;
              max-width: 100%;
              height: 100%;
              background-color: #f1f1f1;
              background-size: cover !important;
              background-repeat: no-repeat;

              overflow: hidden;

              .photo {
                border-radius: 5px;
                max-width: 100%;
                height: 100%;
                background-color: #f1f1f1;
                background-size: cover !important;
                background-repeat: no-repeat;
              }
            }

            &.video {
              .photo {
                @include blur($amt: 2px);
              }

              .pp {
                border: 2px solid #fff;
                border-radius: 20px;
                width: 40px;
                height: 40px;
                color: #fff;
                background-color: rgba(0, 0, 0, 0.5);
              }
            }

            &.audio {
              height: auto !important;

              .audio-player {
                .pp {
                  border: 0;
                  border-radius: 30px;
                  width: 30px;
                  height: 30px;
                  background: rgba(255, 255, 255, 0);
                }

                .controls {
                  flex: 1;
                  padding: 0 10px;

                  .slider {
                    height: 4px;
                    background: #ddd;

                    .knob {
                      left: 0;
                      border-radius: 20px;
                      width: 12px;
                      height: 12px;
                      background: $themeColor;
                    }
                  }

                  .extra {
                    left: 40px;
                    right: 40px;
                    bottom: -8px;

                    .dur {
                      flex: 1;
                    }

                    .stmp {
                      flex: 1;
                      justify-content: flex-end;
                      text-align: right;
                    }
                  }
                }

                .udp {
                  border-radius: 50%;
                  width: 30px;
                  height: 30px;
                  background: #f1f1f1;
                  overflow: hidden;

                  img {
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                  }
                }
              }
            }
          }
        }
      }

      .mine {
        justify-content: flex-end;
        .ballon {
          padding: 4px 6px;
          max-width: 400px;
          background: #dffdbf;
          &:before {
            content: '';
            position: absolute;
            left: auto;
            right: -10px;
            bottom: 4px;
            z-index: 1;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            background: #dffdbf;
          }

          &:after {
            content: '';
            position: absolute;
            left: auto;
            right: -15px;
            bottom: 9px;
            z-index: 1;
            border-radius: 20px;
            width: 15px;
            height: 15px;
            background: #e4dbd4;
          }
        }
      }
    }

    .sendbox {
      border-radius: 0 0 $mbr 0;
      padding: 10px;
      background: #f3f3f3;

      button {
        border: 0;
        width: 40px;
        height: 40px;
        color: #888;
        background: rgba(0, 0, 0, 0);
      }

      .new-message {
        flex: 1;
        border: 0;
        border-radius: 5px;
        margin: 0 10px;
        padding: 10px;
        height: 40px;
        resize: none;
      }
    }
  }
}
